@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Praise&display=swap');


* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Playfair Display', serif; text-decoration: none; overflow-x: hidden;}

header {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
}

header p {
    font-size: 2.5rem;
}

header ul {
    display: flex;
}

header ul li {
    margin: 0 0.2rem;
    list-style: none;
    font-size: 1.8rem;
}

section {
    margin-bottom: 2rem;
}