.dicas {
    height:auto;
    width:100vw;
    padding: 2rem 5%;
}

.dicas_titulo {

    text-align: center;
    padding: 0 0 2.5rem 0;
}


.container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.c1 {
    margin-bottom: 2.5rem;
}

.c2 {
    flex-direction:row-reverse;
}

.dicas_P {
    font-size: 1.2rem;
    font-weight: bold;
    width:40%;
    text-align: center;
   
    padding: 0.5rem

}

.dicasP1 {
    transform: translateX(-150%);
}

.dicasP2{
    transform: translateX(150%);
}


.indicacao {
    transform:scale(.01);
    text-align: center;
    width:17%;
    margin: 0 .5rem
}

.indicacao a {
    height: 100%;
    width: 100%;
    
}

.indicacao img {
    height: 50vh;
    width: 100%;
    background-repeat: no-repeat;
    
    border-radius: 4px;
}



.indi1 {
    background-image: url(../img/hotelAbrico.jpg);
    background-size: cover;

}

.indi2 {
    background-image: url(../img/hotelArrastao.jpg);
    background-size: cover;
    background-position-x: center;
}

.indi3 {
    background-image: url(../img/hotelVeleiro.jpg);
    background-size: cover;
    background-position-x: center;
}

.indi4 {
    background-image: url(../img/Guida\'sCabeleireiros.jpg);
    background-position-x: center;
    background-size: cover;
}

.indi5 {
    background-image: url(../img/weCut.png);
    background-position-x: center;
    background-size: cover;
}

.indi6 {
    background-image: url(../img/Francisco\ &\ Deborah\ Cabeleireiros.jpg);
    background-position-x: center;
    background-size: contain;
    background-position: center;
    background-color: white;
}

.indicacao p {
    height: 10vh;
}