.dresscode {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.2rem;
    padding: 0 5%;
    margin-bottom: 3rem;
}

.imgDresscode {
    width: 60%;
    height:100%;
    display: flex;
    justify-content: space-around;
}

.dressCode {
    height: 100%;
    width: 45%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.dressM {
    background-image: url(../img/dressCodeM.jpg);
}

.dressF {
    background-image: url(../img/dressCodeF.jpg);
}

.infoDresscode {
    width: 40%;
    height: 100%;
    padding: 0 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:1rem 0;
}

.infoDresscode p {
    margin: 0 0 .8rem 0;
}

.infoDresscode p:nth-child(5) {
    margin-bottom: 3rem;
}

.infoDresscode p:nth-child(3) {
    margin-bottom:2.3rem
}

.infoDresscode p:first-child {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    font-weight: bold;
}