.dresscode {
    width: 100vw;
    height: auto !important;
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.2rem;
    padding: 0 5%;
    margin-bottom: 3rem;
}

.dressCode {
    height: 100%;
    width: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.dresscode h1 {
    height: 3rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.dressM {
    background-image: url(../img/dressCodeM.jpg);
    transform: translateX(-150%);
}

.dressF {
    background-image: url(../img/dressCodeF.jpg);
    transform: translateX(150%);
}

.infoDresscode {
    width: 100%;
    height: 100%;
    padding: 0 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:1rem 0;
}

.femenino {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.femenino p, .masculino p {
    width:50%;
}

.femenino p {
    transform: translateX(-150%)
}

.masculino p {
    transform: translateX(150%)
}


.masculino {

    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    
}


.infoDresscode p {
    margin: 0 0 .8rem 0;
}

.infoDresscode p:nth-child(5) {
    margin-bottom: 3rem;
}

.infoDresscode p:nth-child(3) {
    margin-bottom:2.3rem
}

.infoDresscode p:first-child {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    font-weight: bold;
}