.info {
    height:100vh;
    width:auto;
    display:flex;
    flex-direction: column;
    padding:2rem 5%;
    text-align:center;
}

.local__infomacao {
    height:50%;
    width:100%;
    margin-bottom: 1rem;
    display:flex;
    justify-content:space-around;
    align-items:center;
    
}

.carroselInfo {
    height:100%;
    width:65%;
    transform: translateX(-150%);
    background-image: url(../img/abricoPraia.jpg);
    background-repeat:no-repeat;
    background-size: 100%;
    border-radius: 5px;
}

.local, .cerimonia {
    width:30%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;

}

.cerimonia {

    transform: translateX(220%);
 
}

.local{

    transform: translateX(150%);

}

.mapa__informacao{

    height:50%;
    width:100%;
    display:flex;
    justify-content:space-around;
    align-items:center;

}

.mapa {
    height:100%;
    width:65%;
    overflow: hidden;
    border-radius: 5px;
}

iframe {
    width: 100%;
    height: 100%;
    transform: translateX(-170%);
}