.info {
    height:90vh;
    width:auto;
    display:flex;
    }

.imgInfo {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;

}

.mapa {
    margin: 0 5%;
    height:50%;
    width:100%
} 

.carroselInfo {
    height:65%;
    width:100%;
    margin: 0 5%;
    transform: translateX(-150%);
    background-image: url(../img/abricoPraia.jpg);
    background-repeat:no-repeat;
    background-size: 100%;
}

iframe {
    width: 100%;
    height: 100%;
    transform: translateX(-170%);
}

.informacoes{
    height: 100%;
    width: 40%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 1.2 rem;
    position: relative;
}

.cermonia {
    margin: 5rem 0 4rem 0;
    transform: translateX(220%);
}

.local{
    margin: 0 0 5rem 0;
    transform: translateX(150%);
}

.cermonia p, .local p{
    margin-bottom: .5rem;

}

.cermonia p:first-child, .local p:first-child{
    font-size: 1.5rem ;
    font-weight: bold
}

.cermonia p:first-child,.local p:first-child{
    margin-bottom: 1.1rem;
}


