.listaPresente {
    width: 100vw;
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 5%;
    text-align: center;
    margin: 0;
}

.lista {
    margin: 0 0 1.5rem 0;
    font-size:1.5rem;
}

.container{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.presente {
    width: 25vw;
    height: 60vh;
    margin: 2rem 2rem 0 0;
    text-align: center;
    cursor: pointer;
    transform:scale(0.01);
    font-size:.8rem;
}

.imgPresente:hover, .btnPresente:hover{
    transform: scale(1.05);
    transition: .5s ease-in-out;
}

.imgPresente {
    height:70%;
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
}

.img1 {
    background-image: url(../img/Lista\ de\ presentes/AspiradorDePoVertical.jpg);
}

.img2 {
    background-image: url(../img/Lista\ de\ presentes/EdredomQueen.jpg);
}
.img3{
    background-image: url(../img/Lista\ de\ presentes/ProcessadorDeAlimentos.jpg);
}
.img4{
    background-image: url(../img/Lista\ de\ presentes/Mixer.jpg);
}
.img5{
    background-image: url(../img/Lista\ de\ presentes/ConjuntoDePratosDeSobremesa.jpg);
}
.img6{
    background-image: url(../img/Lista\ de\ presentes/Faqueiro.jpg);
}
.img7{
    background-image: url(../img/Lista\ de\ presentes/SmartTV.jpg);
}
.img8{
    background-image: url(../img/Lista\ de\ presentes/ConjuntoParaSucoComJarra.jpg);
}
.img9{
    background-image: url(../img/Lista\ de\ presentes/ConjuntoDeFrigideirasTramontina.jpg);
}

.presente p{
    padding: .5rem;
}

.btnPresente {
    margin: 2rem;
    border: 2px solid black;
    border-radius:4px;
    width:15vw;
    height:5vh;
    text-align: center;
    color: black;
    opacity: 0;
    font-size: 1rem;
}

