@media screen and (max-width: 1050px){
    .header__data {
        font-size:10rem;
    }

    .info {
        height:60vh;
    }

    .femenino, .masculino{
        height:auto;
    }

    .dressCode {
        height:60vh;
    }
    .exemploDresCode {
        height:60vh;
    }

    .indicacao img {
        height:30vh;
    }

    .rsvp {
        height:auto;
    }

    .control-input {
        height:2.5rem
    }

    #nome, #tel, #email, .nome__rsvp-nao{
        width:60vw;
    }


    footer {
        height: 10vh;
    }

    .owl-dots {
        top: 92%;
        right:37%;
    }
   
}

@media screen and (max-width: 880px){
    .nomeNoivos {
        font-size:4rem
    }

    .header__data {
        font-size:7rem;
    }
}

@media screen and (max-width: 770px){

    .noivos {
        height:60vh;
    }
    .exemploDresCode,  .dressCode {
        height:40vh;
    }

    .indicacao img {
        height:20vh;
    }

    .info {
        height:40vh;
    }

    #date {
        width: 30vw;
    }

    .btn {
        width:20vw;
    }
}

@media screen and (max-width: 640px){
    
    header {
        height:7vh;
    }

    header h1 {
        font-size: 1.8rem;
    }

    header ul li{
        font-size:1.5rem;
    }

    .nomeNoivos {
        font-size: 3rem
    }

    .owl-dots {
        top: 87%;
        right:18%;
    }
}

@media screen and (max-width: 550px){
    .header__data {
        font-size: 4rem;
    }

    .info {
        height:auto;
    }

    .local__infomacao, .mapa__informacao{
        flex-direction: column-reverse;
    }

    .cerimonia, .local {
        width:100%;
        margin-bottom: .5rem;
    }

    .carroselInfo, .mapa {
        width:80vw;
        height:25vh;
    }

    #pFemenino, #pMasculino {
        font-size: 1.25rem !important;
    } 

    .femenino p, .masculino p{
        padding: 0;
        
    }

    .femenino, .masculino {
        margin-bottom: 1rem;
        
    }

    .conatainer {
        margin-bottom:.5rem;
    }

    .dicas_P {
        font-size: 1.25rem;
        width:80vw;
        margin-bottom: .5rem;
        padding: 0 .5rem;
    }

    .indicacao a p {
        font-size: .7rem;
    }

    footer {
        font-size: .5rem;
    }
}

@media screen and (max-width: 420px){

    header h1 {
        font-size: 1.2rem;
    }

    header ul li{
        font-size:1rem;
    }
    
    .noivos {
        height:50vh;
    }

    .nomeNoivos {
        font-size: 2rem;
    }

    .carroselInfo, .mapa {
        height:17vh;
    }

    .femenino, .masculino{
        flex-direction: column-reverse;
    }

    .dresscode{
        margin-bottom: .5rem;
    }
    .dressCode {
        height:40vh;
        width:50vw;
    }
    .exemploDresCode {
        height:40vh;
        width:100%;
    }

    #pFemenino, #pMasculino {
        width: 80vw;
    } 

    .indicacao {
        width:25vw;
    }
    .indicacao img {
        height:25vh;
        width:33vw;
    }

    .c1 {
        margin-bottom: .5rem;
    }

    .c1 .indicacao a p {
        height: 18.5vh;
    }

    .c2 .indicacao a p {
        height:9.5vh;
    }

    .indi4{
        
        background-position: top 0 right .07rem  ;
    }

    .indi5{
        background-size: 90% 100%;
        background-position: bottom .1rem right 1.12rem;
    } 

    .indi6{
        background-size: 70% auto;
        background-position: left .2rem top 50%;
    } 

    .control-input {
        height:2rem
    }

    #date {
        width: 42vw;
    }

    .owl-dots {
        top: 87%;
        right:17%;
    }

}

@media screen and (max-width: 380px){
    header h1 {
        font-size: .9rem;
        padding:0 7%;
    }

    header ul li{
        font-size:.8rem;
    }
   
    .mensagem__inicial {
        height:auto;
    }
    .texto__mensagem {
        font-size: 1.25rem ;
    }
    .nomeNoivos {
        font-size: 1.5rem
    }

    .nome__cabecalho, .data__cabecalho {
        font-size: .9rem;
    }

    .carroselInfo, .mapa {
        height:25vh;
    }

    .dressCode {
        height:60vh;
        width:60vw;
    }
    .exemploDresCode {
        height:60vh;
        width:60vw;
    }

    .item img {
        height:60vh;
        width:60vw;
    }

    .btn {
        width:25vw;
        text-align: center;
    }

    footer {
        height:auto;
    }
}