.rsvp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-height:30vh;
    width: 100vw;
    
}

.titleRsvp {
    margin: 0 0 1.5rem 0;
    text-align: center;
    font-size: 1.5rem;
    overflow: hidden;
}
.formRsvp {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.control-label {
    margin: 0 0 1rem 0;
    font-size: 1.35rem;
    opacity: 1;
    overflow: hidden;
    height: auto;
}

.control-input {
    margin: 0 0 2rem 0;
    text-align: center;
    height: 3rem;
    border-radius: 5px;
    opacity: 1;
    font-size: 1.1rem
}

#nome, #tel, #email, .nome__rsvp-nao {
    width: 33vw;

}

#date {
    width:15vw;
}

.btn {
    width:10vw;
    cursor: pointer;

}

.btn:hover {
    background-color: #f1d7d6;

}

.btn:active {
    transform: scale(.9, .9);
    transition: .1s;
    opacity: .9;
}

/*_______________ RSVP Confimação ___________*/

.input__radio {
    margin-bottom: 1rem;
}

.radio__label {
    font-size: 1.35rem;
    margin: 2rem;
    opacity: 0;
}



/*_______________ RSVP Negativo ___________*/

.rsvp__nao {
    display: none;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    margin-top: 2rem;
}


