.rsvp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    width: 100vw;
    
}

.titleRsvp {
    margin: 0 0 1.5rem 0;
    text-align: center;
    font-size: 1.5rem;
}
.formRsvp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

label {
    margin: 0 0 1rem 0;
    font-size: 1.2rem;
    opacity: 0;
}

input {
    margin: 0 0 2rem 0;
    text-align: center;
    height: 2rem;
    border-radius: 5px;
    opacity: 0;
}

#nome, #tel, #email {
    width: 33vw;

}

#date {
    width:15vw;
}

.btn {
    width:10vw;
    cursor: pointer;

}

.btn:hover {
    background-color: #f1d7d6;

}

.btn:active {
    transform: scale(.9, .9);
    transition: .1s;
    opacity: .9;
}




