@-ms-viewport {
  width: device-width;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.wrapperSamsung {
}

.wrapperSamsung .clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.wrapperSamsung .visible {
  visibility: visible !important;
}

.wrapperSamsung .invisible {
  visibility: hidden !important;
}

.wrapperSamsung .hidden-xs-up {
  display: none !important;
}

@media (max-width: 575.98px) {
  .wrapperSamsung .hidden-xs-down {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .wrapperSamsung .hidden-sm-up {
    display: none !important;
  }
}

@media (max-width: 767.98px) {
  .wrapperSamsung .hidden-sm-down {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .wrapperSamsung .hidden-md-up {
    display: none !important;
  }
}

@media (max-width: 991.98px) {
  .wrapperSamsung .hidden-md-down {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .wrapperSamsung .hidden-lg-up {
    display: none !important;
  }
}

@media (max-width: 1199.98px) {
  .wrapperSamsung .hidden-lg-down {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .wrapperSamsung .hidden-xl-up {
    display: none !important;
  }
}

.wrapperSamsung .hidden-xl-down {
  display: none !important;
}

.wrapperSamsung .visible-print-block {
  display: none !important;
}

@media print {
  .wrapperSamsung .visible-print-block {
    display: block !important;
  }
}

.wrapperSamsung .visible-print-inline {
  display: none !important;
}

@media print {
  .wrapperSamsung .visible-print-inline {
    display: inline !important;
  }
}

.wrapperSamsung .visible-print-inline-block {
  display: none !important;
}

@media print {
  .wrapperSamsung .visible-print-inline-block {
    display: inline-block !important;
  }
}

@media print {
  .wrapperSamsung .hidden-print {
    display: none !important;
  }
}

.wrapperSamsung .containerSamsung {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .wrapperSamsung .containerSamsung {
    max-width: 1140px;
  }
}

.wrapperSamsung .containerSamsung-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.wrapperSamsung .rowSamsung {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.wrapperSamsung .no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.wrapperSamsung .no-gutters > .colSamsung,
.wrapperSamsung .no-gutters > [class*="colSamsung-"] {
  padding-right: 0;
  padding-left: 0;
}

.wrapperSamsung .colSamsung-1, .wrapperSamsung .colSamsung-2, .wrapperSamsung .colSamsung-3, .wrapperSamsung .colSamsung-4, .wrapperSamsung .colSamsung-5, .wrapperSamsung .colSamsung-6, .wrapperSamsung .colSamsung-7, .wrapperSamsung .colSamsung-8, .wrapperSamsung .colSamsung-9, .wrapperSamsung .colSamsung-10, .wrapperSamsung .colSamsung-11, .wrapperSamsung .colSamsung-12, .wrapperSamsung .colSamsung,
.wrapperSamsung .colSamsung-auto, .wrapperSamsung .colSamsung-sm-1, .wrapperSamsung .colSamsung-sm-2, .wrapperSamsung .colSamsung-sm-3, .wrapperSamsung .colSamsung-sm-4, .wrapperSamsung .colSamsung-sm-5, .wrapperSamsung .colSamsung-sm-6, .wrapperSamsung .colSamsung-sm-7, .wrapperSamsung .colSamsung-sm-8, .wrapperSamsung .colSamsung-sm-9, .wrapperSamsung .colSamsung-sm-10, .wrapperSamsung .colSamsung-sm-11, .wrapperSamsung .colSamsung-sm-12, .wrapperSamsung .colSamsung-sm,
.wrapperSamsung .colSamsung-sm-auto, .wrapperSamsung .colSamsung-md-1, .wrapperSamsung .colSamsung-md-2, .wrapperSamsung .colSamsung-md-3, .wrapperSamsung .colSamsung-md-4, .wrapperSamsung .colSamsung-md-5, .wrapperSamsung .colSamsung-md-6, .wrapperSamsung .colSamsung-md-7, .wrapperSamsung .colSamsung-md-8, .wrapperSamsung .colSamsung-md-9, .wrapperSamsung .colSamsung-md-10, .wrapperSamsung .colSamsung-md-11, .wrapperSamsung .colSamsung-md-12, .wrapperSamsung .colSamsung-md,
.wrapperSamsung .colSamsung-md-auto, .wrapperSamsung .colSamsung-lg-1, .wrapperSamsung .colSamsung-lg-2, .wrapperSamsung .colSamsung-lg-3, .wrapperSamsung .colSamsung-lg-4, .wrapperSamsung .colSamsung-lg-5, .wrapperSamsung .colSamsung-lg-6, .wrapperSamsung .colSamsung-lg-7, .wrapperSamsung .colSamsung-lg-8, .wrapperSamsung .colSamsung-lg-9, .wrapperSamsung .colSamsung-lg-10, .wrapperSamsung .colSamsung-lg-11, .wrapperSamsung .colSamsung-lg-12, .wrapperSamsung .colSamsung-lg,
.wrapperSamsung .colSamsung-lg-auto, .wrapperSamsung .colSamsung-xl-1, .wrapperSamsung .colSamsung-xl-2, .wrapperSamsung .colSamsung-xl-3, .wrapperSamsung .colSamsung-xl-4, .wrapperSamsung .colSamsung-xl-5, .wrapperSamsung .colSamsung-xl-6, .wrapperSamsung .colSamsung-xl-7, .wrapperSamsung .colSamsung-xl-8, .wrapperSamsung .colSamsung-xl-9, .wrapperSamsung .colSamsung-xl-10, .wrapperSamsung .colSamsung-xl-11, .wrapperSamsung .colSamsung-xl-12, .wrapperSamsung .colSamsung-xl,
.wrapperSamsung .colSamsung-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.wrapperSamsung .colSamsung {
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-growSamsung: 1;
      -ms-flex-positive: 1;
          flex-growSamsung: 1;
  max-width: 100%;
}

.wrapperSamsung .colSamsung-auto {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.wrapperSamsung .colSamsung-1 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.3333333333%;
      -ms-flex: 0 0 8.3333333333%;
          flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.wrapperSamsung .colSamsung-2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 16.6666666667%;
      -ms-flex: 0 0 16.6666666667%;
          flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.wrapperSamsung .colSamsung-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.wrapperSamsung .colSamsung-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.3333333333%;
      -ms-flex: 0 0 33.3333333333%;
          flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.wrapperSamsung .colSamsung-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.6666666667%;
      -ms-flex: 0 0 41.6666666667%;
          flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.wrapperSamsung .colSamsung-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.wrapperSamsung .colSamsung-7 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 58.3333333333%;
      -ms-flex: 0 0 58.3333333333%;
          flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.wrapperSamsung .colSamsung-8 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.6666666667%;
      -ms-flex: 0 0 66.6666666667%;
          flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.wrapperSamsung .colSamsung-9 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.wrapperSamsung .colSamsung-10 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 83.3333333333%;
      -ms-flex: 0 0 83.3333333333%;
          flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.wrapperSamsung .colSamsung-11 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 91.6666666667%;
      -ms-flex: 0 0 91.6666666667%;
          flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.wrapperSamsung .colSamsung-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.wrapperSamsung .order-first {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}

.wrapperSamsung .order-last {
  -webkit-box-ordinal-group: 14;
  -webkit-order: 13;
      -ms-flex-order: 13;
          order: 13;
}

.wrapperSamsung .order-0 {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
}

.wrapperSamsung .order-1 {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.wrapperSamsung .order-2 {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}

.wrapperSamsung .order-3 {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
}

.wrapperSamsung .order-4 {
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
      -ms-flex-order: 4;
          order: 4;
}

.wrapperSamsung .order-5 {
  -webkit-box-ordinal-group: 6;
  -webkit-order: 5;
      -ms-flex-order: 5;
          order: 5;
}

.wrapperSamsung .order-6 {
  -webkit-box-ordinal-group: 7;
  -webkit-order: 6;
      -ms-flex-order: 6;
          order: 6;
}

.wrapperSamsung .order-7 {
  -webkit-box-ordinal-group: 8;
  -webkit-order: 7;
      -ms-flex-order: 7;
          order: 7;
}

.wrapperSamsung .order-8 {
  -webkit-box-ordinal-group: 9;
  -webkit-order: 8;
      -ms-flex-order: 8;
          order: 8;
}

.wrapperSamsung .order-9 {
  -webkit-box-ordinal-group: 10;
  -webkit-order: 9;
      -ms-flex-order: 9;
          order: 9;
}

.wrapperSamsung .order-10 {
  -webkit-box-ordinal-group: 11;
  -webkit-order: 10;
      -ms-flex-order: 10;
          order: 10;
}

.wrapperSamsung .order-11 {
  -webkit-box-ordinal-group: 12;
  -webkit-order: 11;
      -ms-flex-order: 11;
          order: 11;
}

.wrapperSamsung .order-12 {
  -webkit-box-ordinal-group: 13;
  -webkit-order: 12;
      -ms-flex-order: 12;
          order: 12;
}

.wrapperSamsung .offsetSamsung-1 {
  margin-left: 8.3333333333%;
}

.wrapperSamsung .offsetSamsung-2 {
  margin-left: 16.6666666667%;
}

.wrapperSamsung .offsetSamsung-3 {
  margin-left: 25%;
}

.wrapperSamsung .offsetSamsung-4 {
  margin-left: 33.3333333333%;
}

.wrapperSamsung .offsetSamsung-5 {
  margin-left: 41.6666666667%;
}

.wrapperSamsung .offsetSamsung-6 {
  margin-left: 50%;
}

.wrapperSamsung .offsetSamsung-7 {
  margin-left: 58.3333333333%;
}

.wrapperSamsung .offsetSamsung-8 {
  margin-left: 66.6666666667%;
}

.wrapperSamsung .offsetSamsung-9 {
  margin-left: 75%;
}

.wrapperSamsung .offsetSamsung-10 {
  margin-left: 83.3333333333%;
}

.wrapperSamsung .offsetSamsung-11 {
  margin-left: 91.6666666667%;
}

@media (min-width: 576px) {
  .wrapperSamsung .colSamsung-sm {
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-growSamsung: 1;
        -ms-flex-positive: 1;
            flex-growSamsung: 1;
    max-width: 100%;
  }
  .wrapperSamsung .colSamsung-sm-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .wrapperSamsung .colSamsung-sm-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.3333333333%;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .wrapperSamsung .colSamsung-sm-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.6666666667%;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .wrapperSamsung .colSamsung-sm-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .wrapperSamsung .colSamsung-sm-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3333333333%;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .wrapperSamsung .colSamsung-sm-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.6666666667%;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .wrapperSamsung .colSamsung-sm-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .wrapperSamsung .colSamsung-sm-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.3333333333%;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .wrapperSamsung .colSamsung-sm-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.6666666667%;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .wrapperSamsung .colSamsung-sm-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .wrapperSamsung .colSamsung-sm-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.3333333333%;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .wrapperSamsung .colSamsung-sm-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.6666666667%;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .wrapperSamsung .colSamsung-sm-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .wrapperSamsung .order-sm-first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  .wrapperSamsung .order-sm-last {
    -webkit-box-ordinal-group: 14;
    -webkit-order: 13;
        -ms-flex-order: 13;
            order: 13;
  }
  .wrapperSamsung .order-sm-0 {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
  }
  .wrapperSamsung .order-sm-1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .wrapperSamsung .order-sm-2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .wrapperSamsung .order-sm-3 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
  .wrapperSamsung .order-sm-4 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
  }
  .wrapperSamsung .order-sm-5 {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5;
  }
  .wrapperSamsung .order-sm-6 {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6;
  }
  .wrapperSamsung .order-sm-7 {
    -webkit-box-ordinal-group: 8;
    -webkit-order: 7;
        -ms-flex-order: 7;
            order: 7;
  }
  .wrapperSamsung .order-sm-8 {
    -webkit-box-ordinal-group: 9;
    -webkit-order: 8;
        -ms-flex-order: 8;
            order: 8;
  }
  .wrapperSamsung .order-sm-9 {
    -webkit-box-ordinal-group: 10;
    -webkit-order: 9;
        -ms-flex-order: 9;
            order: 9;
  }
  .wrapperSamsung .order-sm-10 {
    -webkit-box-ordinal-group: 11;
    -webkit-order: 10;
        -ms-flex-order: 10;
            order: 10;
  }
  .wrapperSamsung .order-sm-11 {
    -webkit-box-ordinal-group: 12;
    -webkit-order: 11;
        -ms-flex-order: 11;
            order: 11;
  }
  .wrapperSamsung .order-sm-12 {
    -webkit-box-ordinal-group: 13;
    -webkit-order: 12;
        -ms-flex-order: 12;
            order: 12;
  }
  .wrapperSamsung .offsetSamsung-sm-0 {
    margin-left: 0;
  }
  .wrapperSamsung .offsetSamsung-sm-1 {
    margin-left: 8.3333333333%;
  }
  .wrapperSamsung .offsetSamsung-sm-2 {
    margin-left: 16.6666666667%;
  }
  .wrapperSamsung .offsetSamsung-sm-3 {
    margin-left: 25%;
  }
  .wrapperSamsung .offsetSamsung-sm-4 {
    margin-left: 33.3333333333%;
  }
  .wrapperSamsung .offsetSamsung-sm-5 {
    margin-left: 41.6666666667%;
  }
  .wrapperSamsung .offsetSamsung-sm-6 {
    margin-left: 50%;
  }
  .wrapperSamsung .offsetSamsung-sm-7 {
    margin-left: 58.3333333333%;
  }
  .wrapperSamsung .offsetSamsung-sm-8 {
    margin-left: 66.6666666667%;
  }
  .wrapperSamsung .offsetSamsung-sm-9 {
    margin-left: 75%;
  }
  .wrapperSamsung .offsetSamsung-sm-10 {
    margin-left: 83.3333333333%;
  }
  .wrapperSamsung .offsetSamsung-sm-11 {
    margin-left: 91.6666666667%;
  }
}

@media (min-width: 768px) {
  .wrapperSamsung .colSamsung-md {
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-growSamsung: 1;
        -ms-flex-positive: 1;
            flex-growSamsung: 1;
    max-width: 100%;
  }
  .wrapperSamsung .colSamsung-md-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .wrapperSamsung .colSamsung-md-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.3333333333%;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .wrapperSamsung .colSamsung-md-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.6666666667%;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .wrapperSamsung .colSamsung-md-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .wrapperSamsung .colSamsung-md-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3333333333%;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .wrapperSamsung .colSamsung-md-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.6666666667%;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .wrapperSamsung .colSamsung-md-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .wrapperSamsung .colSamsung-md-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.3333333333%;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .wrapperSamsung .colSamsung-md-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.6666666667%;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .wrapperSamsung .colSamsung-md-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .wrapperSamsung .colSamsung-md-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.3333333333%;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .wrapperSamsung .colSamsung-md-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.6666666667%;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .wrapperSamsung .colSamsung-md-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .wrapperSamsung .order-md-first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  .wrapperSamsung .order-md-last {
    -webkit-box-ordinal-group: 14;
    -webkit-order: 13;
        -ms-flex-order: 13;
            order: 13;
  }
  .wrapperSamsung .order-md-0 {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
  }
  .wrapperSamsung .order-md-1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .wrapperSamsung .order-md-2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .wrapperSamsung .order-md-3 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
  .wrapperSamsung .order-md-4 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
  }
  .wrapperSamsung .order-md-5 {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5;
  }
  .wrapperSamsung .order-md-6 {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6;
  }
  .wrapperSamsung .order-md-7 {
    -webkit-box-ordinal-group: 8;
    -webkit-order: 7;
        -ms-flex-order: 7;
            order: 7;
  }
  .wrapperSamsung .order-md-8 {
    -webkit-box-ordinal-group: 9;
    -webkit-order: 8;
        -ms-flex-order: 8;
            order: 8;
  }
  .wrapperSamsung .order-md-9 {
    -webkit-box-ordinal-group: 10;
    -webkit-order: 9;
        -ms-flex-order: 9;
            order: 9;
  }
  .wrapperSamsung .order-md-10 {
    -webkit-box-ordinal-group: 11;
    -webkit-order: 10;
        -ms-flex-order: 10;
            order: 10;
  }
  .wrapperSamsung .order-md-11 {
    -webkit-box-ordinal-group: 12;
    -webkit-order: 11;
        -ms-flex-order: 11;
            order: 11;
  }
  .wrapperSamsung .order-md-12 {
    -webkit-box-ordinal-group: 13;
    -webkit-order: 12;
        -ms-flex-order: 12;
            order: 12;
  }
  .wrapperSamsung .offsetSamsung-md-0 {
    margin-left: 0;
  }
  .wrapperSamsung .offsetSamsung-md-1 {
    margin-left: 8.3333333333%;
  }
  .wrapperSamsung .offsetSamsung-md-2 {
    margin-left: 16.6666666667%;
  }
  .wrapperSamsung .offsetSamsung-md-3 {
    margin-left: 25%;
  }
  .wrapperSamsung .offsetSamsung-md-4 {
    margin-left: 33.3333333333%;
  }
  .wrapperSamsung .offsetSamsung-md-5 {
    margin-left: 41.6666666667%;
  }
  .wrapperSamsung .offsetSamsung-md-6 {
    margin-left: 50%;
  }
  .wrapperSamsung .offsetSamsung-md-7 {
    margin-left: 58.3333333333%;
  }
  .wrapperSamsung .offsetSamsung-md-8 {
    margin-left: 66.6666666667%;
  }
  .wrapperSamsung .offsetSamsung-md-9 {
    margin-left: 75%;
  }
  .wrapperSamsung .offsetSamsung-md-10 {
    margin-left: 83.3333333333%;
  }
  .wrapperSamsung .offsetSamsung-md-11 {
    margin-left: 91.6666666667%;
  }
}

@media (min-width: 992px) {
  .wrapperSamsung .colSamsung-lg {
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-growSamsung: 1;
        -ms-flex-positive: 1;
            flex-growSamsung: 1;
    max-width: 100%;
  }
  .wrapperSamsung .colSamsung-lg-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .wrapperSamsung .colSamsung-lg-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.3333333333%;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .wrapperSamsung .colSamsung-lg-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.6666666667%;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .wrapperSamsung .colSamsung-lg-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .wrapperSamsung .colSamsung-lg-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3333333333%;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .wrapperSamsung .colSamsung-lg-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.6666666667%;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .wrapperSamsung .colSamsung-lg-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .wrapperSamsung .colSamsung-lg-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.3333333333%;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .wrapperSamsung .colSamsung-lg-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.6666666667%;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .wrapperSamsung .colSamsung-lg-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .wrapperSamsung .colSamsung-lg-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.3333333333%;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .wrapperSamsung .colSamsung-lg-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.6666666667%;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .wrapperSamsung .colSamsung-lg-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .wrapperSamsung .order-lg-first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  .wrapperSamsung .order-lg-last {
    -webkit-box-ordinal-group: 14;
    -webkit-order: 13;
        -ms-flex-order: 13;
            order: 13;
  }
  .wrapperSamsung .order-lg-0 {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
  }
  .wrapperSamsung .order-lg-1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .wrapperSamsung .order-lg-2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .wrapperSamsung .order-lg-3 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
  .wrapperSamsung .order-lg-4 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
  }
  .wrapperSamsung .order-lg-5 {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5;
  }
  .wrapperSamsung .order-lg-6 {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6;
  }
  .wrapperSamsung .order-lg-7 {
    -webkit-box-ordinal-group: 8;
    -webkit-order: 7;
        -ms-flex-order: 7;
            order: 7;
  }
  .wrapperSamsung .order-lg-8 {
    -webkit-box-ordinal-group: 9;
    -webkit-order: 8;
        -ms-flex-order: 8;
            order: 8;
  }
  .wrapperSamsung .order-lg-9 {
    -webkit-box-ordinal-group: 10;
    -webkit-order: 9;
        -ms-flex-order: 9;
            order: 9;
  }
  .wrapperSamsung .order-lg-10 {
    -webkit-box-ordinal-group: 11;
    -webkit-order: 10;
        -ms-flex-order: 10;
            order: 10;
  }
  .wrapperSamsung .order-lg-11 {
    -webkit-box-ordinal-group: 12;
    -webkit-order: 11;
        -ms-flex-order: 11;
            order: 11;
  }
  .wrapperSamsung .order-lg-12 {
    -webkit-box-ordinal-group: 13;
    -webkit-order: 12;
        -ms-flex-order: 12;
            order: 12;
  }
  .wrapperSamsung .offsetSamsung-lg-0 {
    margin-left: 0;
  }
  .wrapperSamsung .offsetSamsung-lg-1 {
    margin-left: 8.3333333333%;
  }
  .wrapperSamsung .offsetSamsung-lg-2 {
    margin-left: 16.6666666667%;
  }
  .wrapperSamsung .offsetSamsung-lg-3 {
    margin-left: 25%;
  }
  .wrapperSamsung .offsetSamsung-lg-4 {
    margin-left: 33.3333333333%;
  }
  .wrapperSamsung .offsetSamsung-lg-5 {
    margin-left: 41.6666666667%;
  }
  .wrapperSamsung .offsetSamsung-lg-6 {
    margin-left: 50%;
  }
  .wrapperSamsung .offsetSamsung-lg-7 {
    margin-left: 58.3333333333%;
  }
  .wrapperSamsung .offsetSamsung-lg-8 {
    margin-left: 66.6666666667%;
  }
  .wrapperSamsung .offsetSamsung-lg-9 {
    margin-left: 75%;
  }
  .wrapperSamsung .offsetSamsung-lg-10 {
    margin-left: 83.3333333333%;
  }
  .wrapperSamsung .offsetSamsung-lg-11 {
    margin-left: 91.6666666667%;
  }
}

@media (min-width: 1200px) {
  .wrapperSamsung .colSamsung-xl {
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-growSamsung: 1;
        -ms-flex-positive: 1;
            flex-growSamsung: 1;
    max-width: 100%;
  }
  .wrapperSamsung .colSamsung-xl-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .wrapperSamsung .colSamsung-xl-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.3333333333%;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .wrapperSamsung .colSamsung-xl-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.6666666667%;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .wrapperSamsung .colSamsung-xl-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .wrapperSamsung .colSamsung-xl-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3333333333%;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .wrapperSamsung .colSamsung-xl-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.6666666667%;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .wrapperSamsung .colSamsung-xl-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .wrapperSamsung .colSamsung-xl-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.3333333333%;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .wrapperSamsung .colSamsung-xl-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.6666666667%;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .wrapperSamsung .colSamsung-xl-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .wrapperSamsung .colSamsung-xl-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.3333333333%;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .wrapperSamsung .colSamsung-xl-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.6666666667%;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .wrapperSamsung .colSamsung-xl-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .wrapperSamsung .order-xl-first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  .wrapperSamsung .order-xl-last {
    -webkit-box-ordinal-group: 14;
    -webkit-order: 13;
        -ms-flex-order: 13;
            order: 13;
  }
  .wrapperSamsung .order-xl-0 {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
  }
  .wrapperSamsung .order-xl-1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .wrapperSamsung .order-xl-2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .wrapperSamsung .order-xl-3 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
  .wrapperSamsung .order-xl-4 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
  }
  .wrapperSamsung .order-xl-5 {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5;
  }
  .wrapperSamsung .order-xl-6 {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6;
  }
  .wrapperSamsung .order-xl-7 {
    -webkit-box-ordinal-group: 8;
    -webkit-order: 7;
        -ms-flex-order: 7;
            order: 7;
  }
  .wrapperSamsung .order-xl-8 {
    -webkit-box-ordinal-group: 9;
    -webkit-order: 8;
        -ms-flex-order: 8;
            order: 8;
  }
  .wrapperSamsung .order-xl-9 {
    -webkit-box-ordinal-group: 10;
    -webkit-order: 9;
        -ms-flex-order: 9;
            order: 9;
  }
  .wrapperSamsung .order-xl-10 {
    -webkit-box-ordinal-group: 11;
    -webkit-order: 10;
        -ms-flex-order: 10;
            order: 10;
  }
  .wrapperSamsung .order-xl-11 {
    -webkit-box-ordinal-group: 12;
    -webkit-order: 11;
        -ms-flex-order: 11;
            order: 11;
  }
  .wrapperSamsung .order-xl-12 {
    -webkit-box-ordinal-group: 13;
    -webkit-order: 12;
        -ms-flex-order: 12;
            order: 12;
  }
  .wrapperSamsung .offsetSamsung-xl-0 {
    margin-left: 0;
  }
  .wrapperSamsung .offsetSamsung-xl-1 {
    margin-left: 8.3333333333%;
  }
  .wrapperSamsung .offsetSamsung-xl-2 {
    margin-left: 16.6666666667%;
  }
  .wrapperSamsung .offsetSamsung-xl-3 {
    margin-left: 25%;
  }
  .wrapperSamsung .offsetSamsung-xl-4 {
    margin-left: 33.3333333333%;
  }
  .wrapperSamsung .offsetSamsung-xl-5 {
    margin-left: 41.6666666667%;
  }
  .wrapperSamsung .offsetSamsung-xl-6 {
    margin-left: 50%;
  }
  .wrapperSamsung .offsetSamsung-xl-7 {
    margin-left: 58.3333333333%;
  }
  .wrapperSamsung .offsetSamsung-xl-8 {
    margin-left: 66.6666666667%;
  }
  .wrapperSamsung .offsetSamsung-xl-9 {
    margin-left: 75%;
  }
  .wrapperSamsung .offsetSamsung-xl-10 {
    margin-left: 83.3333333333%;
  }
  .wrapperSamsung .offsetSamsung-xl-11 {
    margin-left: 91.6666666667%;
  }
}

.wrapperSamsung .img-fluid {
  max-width: 100%;
  height: auto;
}